/node_modules
/public/storage
/public/hot
/storage
/tests
/vendor
/.idea
/work
Homestead.json
Homestead.yaml
.env
.env.example
.gitattributes
artisan
artisan.php
composer.*
package.json
phpunit.xml
readme.*
server.php
webpack.mix.js
